<div class="jumbotron">
    <h1>Notes RESTful API</h1>
</div>
<div class="row">
    <h2>Supported Verbs</h2>
    <ul>
        <li>GET</li>
        <li>POST</li>
        <li>DELETE</li>
    </ul>
</div>
